@page "/chat/{groupChatId:int?}"
@using Microsoft.AspNetCore.SignalR.Client
@inject JwtService JwtService
@inject IOptions<ServerSettings> ServerSettingsOptions
@attribute [Authorize]
<h3>ChatHub</h3>

<div class="card my-3">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
            @if (_allGroupChat != null)
            {
                @foreach (var group in _allGroupChat)
                {
                    <tr>
                        <td>@group.Id</td>
                        <td>@group.Members.Count</td>
                        <td>
                            <button class="btn btn-success" @onclick="async () => await JoinToGroup(group.Id)">
                                Подключиться к группе
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*<div class="card">
    <div><input type="text" @bind-value="@GroupChatId" /><button @onclick="JoinToGroup">Join</button></div>
    <span>GroupId: @GroupChatId</span>
</div>*@

<div class="card">
    <span>ConnectionId: @Connection?.ConnectionId</span>
    <span>State: @Connection?.State</span>
</div>

<div class="card m-2">
    <div class="p-3 h-50 d-flex gap-3 flex-column">
        @foreach (var message in _messages)
        {
            @if (message == _firstNewMessage)
            {
                <div class="d-flex flex-row">
                    <hr class="border-2 border-top border-info w-100">
                    <span class="px-2 flex-shrink-0 align-self-center">Новые сообщения</span>
                    <hr class="border-2 border-top border-info w-100">
                </div>
            }
            <Message MessageDTO="@message" />
        }
    </div>
    <div class="d-flex">
        <input class="flex-grow-1" type="text" @bind-value="@Message" />
        <button @onclick="SendMessage">Send</button>
    </div>
</div>

@code {
    private List<GroupChatDTO>? _myGroupChat;
    private List<GroupChatDTO>? _allGroupChat;

    private MessageDTO? _firstNewMessage;
    private List<MessageDTO> _messages = new List<MessageDTO>();

    public string Message { get; set; } = string.Empty;

    public HubConnection? Connection { get; set; }

    [Parameter]
    public int? GroupChatId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var baseUrl = ServerSettingsOptions.Value.Uri;
        var jwt = await JwtService.GetJwtToken();
        Connection = new HubConnectionBuilder().WithUrl($"{baseUrl}chathub", options =>
        {
            //options.Headers.Add("Authorization", $"Bearer {jwt}");
            options.AccessTokenProvider = () => Task.FromResult(jwt);
        }).Build();
        
        Connection.On<List<GroupChatDTO>>("ReceiveMyGroupChats", chats =>
        {
            _myGroupChat = chats;
            StateHasChanged();
        });
        Connection.On<List<GroupChatDTO>>("ReceiveAllGroupChats", chats =>
        {
            _allGroupChat = chats;
            StateHasChanged();
        });
        Connection.On<List<MessageDTO>>("ReceiveOldMessages", messages =>
        {
            _messages.InsertRange(0, messages);
            StateHasChanged();
        });

        Connection.On<List<MessageDTO>>("ReceiveNewMessages", messages =>
        {
            _firstNewMessage = messages.FirstOrDefault();
            _messages.AddRange(messages);
            StateHasChanged();
        });

        Connection.On<MessageDTO>("ReceiveMessage", message =>
        {
            _messages.Add(message);
            StateHasChanged();
        });

        await Connection.StartAsync();
        await Connection.SendAsync("GetAllGroupChats");
        await Connection.SendAsync("GetMyGroupChats");

        if (GroupChatId.HasValue)
        {
            await Connection.SendAsync("Join", GroupChatId.Value);
            // await Connection.SendAsync("GetOldMessages", GroupChatId.Value);
            // await Connection.SendAsync("GetNewMessages", GroupChatId.Value);
        }
        
        await base.OnInitializedAsync();
    }

    public async void SendMessage()
    {
        if (!string.IsNullOrEmpty(Message) && GroupChatId.HasValue)
        {
            await Connection?.SendAsync("SendMessage", GroupChatId.Value, Message);
            Message = string.Empty;
        }

    }

    private async Task JoinToGroup(int groupId)
    {
        await Connection.SendAsync("Join", groupId);
    }

}
