@page "/register"
@using Microsoft.Extensions.Options
@using webApiMessenger.BalzorClient.Options
@using webApiMessenger.Shared.DTOs
@using Blazored.LocalStorage
@using System.Net.Http.Headers
@inject IOptions<ServerSettings> Options
@inject ILocalStorageService LocalStorage
<PageTitle>Registeration</PageTitle>

<h4>Registeration</h4>

<div class="card">
    <div>
        <div><p>Nick:</p><input type="text" @bind-value="@Nick"/></div>
        <div><p>Email:</p><input type="text" @bind-value="@Email"/></div>
        <div><p>Login:</p><input type="text" @bind-value="@Login"/></div>
        <div><p>Password:</p><input type="text" @bind-value="@Password"/></div>
        <div><p>Age:</p><input type="number" @bind-value="@Age"/></div>
        <button @onclick="Registration">Register</button>
    </div>
    <p>Message: @RegisterResult</p>
    <div class="card">
        <p>Schema: @ServerSettings.Schema</p>
        <p>Host: @ServerSettings.Host</p>
        <p>Port: @ServerSettings.Port</p>
        <p>BaseUrl: @ServerSettings.BaseUrl</p>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <p>Id: @_user?.Id</p>
            <p>Nick: @_user?.Nick</p>
            <p>Age: @_user?.Age</p>
            <p>Login: @_user?.Login</p>
            <p>Email: @_user?.Email</p>
        </div>
        <div class="card-footer">
            <button @onclick="Me">ME</button>
        </div>
    </div>
</div>

@code {
    public string? RegisterResult { get; set; }
    public string? Nick { get; set; }
    public string? Email { get; set; }
    public string? Login { get; set; }
    public string? Password { get; set; }
    public int? Age { get; set; }
    private ServerSettings ServerSettings;
    private HttpClient _client;
    private UserPublicDTO? _user;

    protected override Task OnInitializedAsync()
    {
        ServerSettings = Options.Value;
        _client = new HttpClient();
        _client.BaseAddress = ServerSettings.Uri;
    // _client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwt);
        return base.OnInitializedAsync();
    }

    public async Task Registration()
    {
        if (Nick != null & Email != null & Login != null & Password != null & Age != null  )
        {
            var response = await _client.PostAsJsonAsync("User/Register", new
            {
                Nick, Email, Login, Password, Age
            });
            if (response.IsSuccessStatusCode)
            {
                var jwt = await response.Content.ReadAsStringAsync();
                RegisterResult = jwt;
                // _client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwt);
                _client.DefaultRequestHeaders.Add("Authorization", $"Bearer {jwt}");
                await LocalStorage.SetItemAsStringAsync("jwt", jwt);
            }
        }
    }

    public async Task Me()
    {
        _user = await _client.GetFromJsonAsync<UserPublicDTO>("User/Me");
    }
}
